APP_NAME=Crescent
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=crescent
DB_USERNAME=
DB_PASSWORD=
DB_URI=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
